
body{
    margin:0px;
    padding:0px;
    width:100%;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.autocomplete {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 227px;
    border: 1px solid gray;
    border-right: none;
    border-radius: 3px;
    margin: 2px auto 0;

}

.item {
    justify-content: center;
    width: 205px;
    padding: 4px 12px;
    cursor: pointer;
}
.item:hover {
   background-color: rgb(241, 191, 97);
}
.autocomplete-items {    
    width: 232px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
}

.autocomplete-items div {
    padding: 2px 0px 2px 9px;
}
.autocomplete-items div:hover{
    background-color: burlywood;
}
.not-found {
    background-color: white !important;
}

